@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: "Red Hat Display", sans-serif;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{% static "bg.png" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    background-color: rgb(115, 116, 93);
    z-index: 1000;
    position: relative;
    height: 75px;
}

a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    padding: 15px;
    font-family: "Red Hat Display", sans-serif; 
}

a:hover {
    transition: 0.5s ease;
    background-color: rgb(211, 211, 211);
}

#nav-right {
    display: flex;
    justify-content: space-between;
}

.welcome-message {
    margin-top: 20px;
    margin-left: 1600px; 
    color: rgb(161, 162, 131); 
    font-family: "Red Hat Display", sans-serif; 
    font-size: 24px; 
}

h1 {
    text-align: center;
}

.button-mod {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2f00ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    height: 20px;
    margin: 20px;
}

.button-mod:hover {
    background-color: #0056b3;
}