@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: "Red Hat Display", sans-serif; /* Apply Red Hat font */
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('{% static "bg.png" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.25; /* Adjust opacity to make the image lighter */
    z-index: -1; /* Ensure the overlay is behind the content */
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    box-shadow: none;
    background-color: rgb(115, 116, 93);
    z-index: 1000;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 15px;
    font-family: "Red Hat Display", sans-serif; /* Apply Red Hat font to all links */
}

a:hover {
    transition: 0.5s ease;
    background-color: rgb(211, 211, 211);
}

#nav-right {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
}
