#timeline {
    border-bottom: 3px solid black;
}

.moduleHeader {
    margin: 0px;
}

.link-list {
    list-style: none; 
    padding: 0;
}

.article-header {
    margin-bottom: 30px; /* Space between each link */
}

#moduleHeaderName {
    height: 100%;
    background-color: #334536;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content {
    width: 50%; 
}

#pdf-container {
    width: 80%; /* Reduce the width if you want it narrower */
    margin-left:60px; /* This moves the PDF window to the right */
    height: 1500px;
    overflow-y: auto;
}

#pdf-canvas{
    width: 100%;
}

main {
    display: flex;
    height: 75%;
}

.sidebar {
    width: 25%;
}



header {
    height: 35%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

h4 {
    text-align: center;
    font-weight: normal;
}
