#timeline {
    border-bottom: 3px solid black;
}

.moduleHeader {
    margin: 0px;
}

.link-list {
    list-style: none; 
    padding: 0;
}

.article-header {
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#moduleHeaderName {
    height: 70%;
    background-color: #334536;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content {
    width: 60%; 
    margin-right:-50px;
}

#module-side-bar {
    margin-right: 50px;
}

#pdf-container {
    width: 80%; 
    margin-left:60px;
    height: 1500px;
    overflow-y: auto;
}

#pdf-canvas{
    width: 100%;
}

main {
    display: flex;
    height: 75%;
}

.sidebar {
    width: 25%;
}

header {
    height: 30%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

h4 {
    text-align: center;
    font-weight: normal;
    margin-top: 15px;
}
