#timeline {
    border-bottom: 3px solid black;
}

.moduleHeader {
    margin: 0px;
}

.link-list {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove padding */
}

.article-header {
    margin-bottom: 30px; /* Space between each link */
}

#moduleHeaderName {
    height: 100%;
    background-color: #334536;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content {
    width: 50%; 
}

#pdf-container {
    width: 90%; /* Reduce the width if you want it narrower */
    margin-left:90px; /* This moves the PDF window to the right */
    height: 600px;
    overflow-y: auto;
}

main {
    display: flex;
    height: 75%;
}

.sidebar {
    width: 25%;
}



header {
    height: 35%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

h4 {
    text-align: center;
}
