body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.sidebar-image {
    background-image: url('/static/bar.png');
    background-size: cover;
    background-position: center;
    height: 100%; 
}

.spinner {
    position: absolute;
    top: 50%;
    justify-content: center;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10; 
}

.content {
    flex: 1;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0;
    position: relative;
}


h2 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    margin: 0 0 20px 0;
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 0.75rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="city"],
.form-group select {
    font-size: 0.7rem;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

.form-group input:focus {
    border-color: #144231;
    outline: none;
}

.submit-button {
    background-color: #144231;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-transform: uppercase;
}

.submit-button:hover {
    background-color: #0f3c28;
}

label {
    margin-bottom: 10px;
}

p {
    margin-top: 25px;
    font-size: 0.8rem;
}


@media (max-width: 1200px) {
    h2 {
        font-size: 1.2rem;
    }
    .form-group label {
        font-size: 0.6rem;
    }
    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="city"],
    .form-group select {
        font-size: 0.8rem;
    }
    .submit-button,
    .register-button {
        font-size: 0.8rem;
    }
    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    h2 {
        font-size: 1rem;
    }
    .form-group label {
        font-size: 0.8rem;
    }
    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="city"],
    .form-group select {
        font-size: 0.8rem;
    }
    .submit-button,
    .register-button {
        font-size: 0.8rem;
    }
    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 0.8rem;
    }
    .form-group label {
        font-size: 0.8rem;
    }
    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="city"],
    .form-group select {
        font-size: 0.8rem;
    }
    .submit-button,
    .register-button {
        font-size: 0.8rem;
    }
    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 0.8rem;
    }
    .form-group label {
        font-size: 0.8rem;
    }
    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group input[type="email"],
    .form-group input[type="password"],
    .form-group input[type="city"],
    .form-group select {
        font-size: 0.8rem;
    }
    .submit-button,
    .register-button {
        font-size: 0.8rem;
    }
    p {
        font-size: 0.8rem;
    }
}
